# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/
out/
coverage/

# Logs
logs
*.log

.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Local development files
*.local

# Cache
.cache/
.vite/
.parcel-cache/

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Misc
tmp/
temp/